<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ExplosionUP_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,40}</string>
                <key>spriteSourceSize</key>
                <string>{39,40}</string>
                <key>textureRect</key>
                <string>{{1,1},{39,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ExplosionUP_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,40}</string>
                <key>spriteSourceSize</key>
                <string>{39,40}</string>
                <key>textureRect</key>
                <string>{{1,43},{39,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ExplosionUP_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{39,36}</string>
                <key>spriteSourceSize</key>
                <string>{39,40}</string>
                <key>textureRect</key>
                <string>{{1,85},{39,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ExplosionUP.png</string>
            <key>size</key>
            <string>{41,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:efa4b0b8a60d6f9abc2c083e36168991:00821303116074af0a39b58edc1fe906:2f26f15eff9c7c73474640ae95fff029$</string>
            <key>textureFileName</key>
            <string>ExplosionUP.png</string>
        </dict>
    </dict>
</plist>
