<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ExplosionLEFT_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,39}</string>
                <key>spriteSourceSize</key>
                <string>{40,39}</string>
                <key>textureRect</key>
                <string>{{1,1},{40,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ExplosionLEFT_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,39}</string>
                <key>spriteSourceSize</key>
                <string>{40,39}</string>
                <key>textureRect</key>
                <string>{{43,1},{40,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ExplosionLEFT_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{36,39}</string>
                <key>spriteSourceSize</key>
                <string>{40,39}</string>
                <key>textureRect</key>
                <string>{{85,1},{36,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ExplosionLEFT.png</string>
            <key>size</key>
            <string>{122,41}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b1ee5de39862f8237e090858ae7e166:f69d3cb0fe3dad9f0a961d52eee05d2f:bbbfe639b5d7adcdd3005c7afcf49d3d$</string>
            <key>textureFileName</key>
            <string>ExplosionLEFT.png</string>
        </dict>
    </dict>
</plist>
