<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ExplosionCenter_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1,1},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ExplosionCenter_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{43,1},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ExplosionCenter_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{85,1},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ExplosionCenter.png</string>
            <key>size</key>
            <string>{126,42}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9a0aa207e530ce324f75d37c22ca53d:6faa29b569d239f1eef26b0295adf439:51817b7dd3bddd0c18d724e013a09ce4$</string>
            <key>textureFileName</key>
            <string>ExplosionCenter.png</string>
        </dict>
    </dict>
</plist>
