<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ExplosionWaveUP_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,40}</string>
                <key>spriteSourceSize</key>
                <string>{39,40}</string>
                <key>textureRect</key>
                <string>{{1,1},{39,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ExplosionWaveUP_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,40}</string>
                <key>spriteSourceSize</key>
                <string>{39,40}</string>
                <key>textureRect</key>
                <string>{{42,1},{39,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ExplosionWaveUP_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,40}</string>
                <key>spriteSourceSize</key>
                <string>{39,40}</string>
                <key>textureRect</key>
                <string>{{1,1},{39,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ExplosionWaveUP.png</string>
            <key>size</key>
            <string>{82,42}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:061faa50fe0c8c804277571484f08b96:78fe999672d5f3147f9ab592f6392b01:b804751dd0d9ac65824e8ebd1e9d2e13$</string>
            <key>textureFileName</key>
            <string>ExplosionWaveUP.png</string>
        </dict>
    </dict>
</plist>
