<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ExplosionRIGHT_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,39}</string>
                <key>spriteSourceSize</key>
                <string>{40,39}</string>
                <key>textureRect</key>
                <string>{{1,1},{40,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ExplosionRIGHT_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,39}</string>
                <key>spriteSourceSize</key>
                <string>{40,39}</string>
                <key>textureRect</key>
                <string>{{43,1},{40,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ExplosionRIGHT_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{36,39}</string>
                <key>spriteSourceSize</key>
                <string>{40,39}</string>
                <key>textureRect</key>
                <string>{{85,1},{36,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ExplosionRIGHT.png</string>
            <key>size</key>
            <string>{122,41}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d10422f2b4618b13db18beda039af73f:b9b1d171f644f440812e4ec6538b03e7:fa16ac7be2efb738f8481078fbfbecc5$</string>
            <key>textureFileName</key>
            <string>ExplosionRIGHT.png</string>
        </dict>
    </dict>
</plist>
