<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Explosion_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,79}</string>
                <key>spriteSourceSize</key>
                <string>{40,79}</string>
                <key>textureRect</key>
                <string>{{1,1},{40,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Explosion_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,79}</string>
                <key>spriteSourceSize</key>
                <string>{40,79}</string>
                <key>textureRect</key>
                <string>{{1,43},{40,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Explosion_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,79}</string>
                <key>spriteSourceSize</key>
                <string>{40,79}</string>
                <key>textureRect</key>
                <string>{{1,85},{40,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Explosion_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,79}</string>
                <key>spriteSourceSize</key>
                <string>{40,79}</string>
                <key>textureRect</key>
                <string>{{1,127},{40,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Explosion_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,79}</string>
                <key>spriteSourceSize</key>
                <string>{40,79}</string>
                <key>textureRect</key>
                <string>{{1,169},{40,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Explosion_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,79}</string>
                <key>spriteSourceSize</key>
                <string>{40,79}</string>
                <key>textureRect</key>
                <string>{{1,211},{40,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Explosion_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,75}</string>
                <key>spriteSourceSize</key>
                <string>{40,79}</string>
                <key>textureRect</key>
                <string>{{1,253},{40,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Explosion_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,67}</string>
                <key>spriteSourceSize</key>
                <string>{40,79}</string>
                <key>textureRect</key>
                <string>{{82,68},{40,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,71}</string>
                <key>spriteSourceSize</key>
                <string>{40,79}</string>
                <key>textureRect</key>
                <string>{{82,206},{40,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,79}</string>
                <key>spriteSourceSize</key>
                <string>{40,79}</string>
                <key>textureRect</key>
                <string>{{1,295},{40,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Explosion_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,73}</string>
                <key>spriteSourceSize</key>
                <string>{40,79}</string>
                <key>textureRect</key>
                <string>{{82,279},{40,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,73}</string>
                <key>spriteSourceSize</key>
                <string>{40,79}</string>
                <key>textureRect</key>
                <string>{{1,337},{40,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Explosion_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,65}</string>
                <key>spriteSourceSize</key>
                <string>{40,79}</string>
                <key>textureRect</key>
                <string>{{82,1},{40,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Explosion_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,67}</string>
                <key>spriteSourceSize</key>
                <string>{40,79}</string>
                <key>textureRect</key>
                <string>{{82,137},{40,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ExplosionH.png</string>
            <key>size</key>
            <string>{123,378}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2392af345c6b5de2eae573e195248105:9761bd5dd0877d3f9106f72f5e110742:bc818be3004ea6630f4d1ab4fcf27f75$</string>
            <key>textureFileName</key>
            <string>ExplosionH.png</string>
        </dict>
    </dict>
</plist>
