<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ExplosionWaveRIGHT_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,39}</string>
                <key>spriteSourceSize</key>
                <string>{40,39}</string>
                <key>textureRect</key>
                <string>{{1,1},{40,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ExplosionWaveRIGHT_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,39}</string>
                <key>spriteSourceSize</key>
                <string>{40,39}</string>
                <key>textureRect</key>
                <string>{{43,1},{40,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ExplosionWaveRIGHT_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,39}</string>
                <key>spriteSourceSize</key>
                <string>{40,39}</string>
                <key>textureRect</key>
                <string>{{1,1},{40,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ExplosionWaveRIGHT.png</string>
            <key>size</key>
            <string>{84,41}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c185fb9c5b5f80544d20f274fb7694c:490ac0e90b749ba8ec4efbc4b02fde27:abab3f1ac5c0feaf9e3f5c3eed0a0a5d$</string>
            <key>textureFileName</key>
            <string>ExplosionWaveRIGHT.png</string>
        </dict>
    </dict>
</plist>
