<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Player1_danger_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{138,1},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player1_danger_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{200,1},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player1_danger_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{262,1},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player1_die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{70,1},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player1_die_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,39}</string>
                <key>spriteSourceSize</key>
                <string>{42,39}</string>
                <key>textureRect</key>
                <string>{{696,56},{42,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Player1_die_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,29}</string>
                <key>spriteSourceSize</key>
                <string>{46,29}</string>
                <key>textureRect</key>
                <string>{{707,1},{46,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Player1_down_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,57}</string>
                <key>spriteSourceSize</key>
                <string>{47,57}</string>
                <key>textureRect</key>
                <string>{{177,63},{47,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player1_down_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,55}</string>
                <key>spriteSourceSize</key>
                <string>{52,55}</string>
                <key>textureRect</key>
                <string>{{467,1},{52,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player1_down_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,56}</string>
                <key>spriteSourceSize</key>
                <string>{48,56}</string>
                <key>textureRect</key>
                <string>{{368,1},{48,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player1_down_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,57}</string>
                <key>spriteSourceSize</key>
                <string>{46,57}</string>
                <key>textureRect</key>
                <string>{{275,63},{46,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player1_down_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,55}</string>
                <key>spriteSourceSize</key>
                <string>{52,55}</string>
                <key>textureRect</key>
                <string>{{467,1},{52,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player1_down_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,56}</string>
                <key>spriteSourceSize</key>
                <string>{47,56}</string>
                <key>textureRect</key>
                <string>{{418,1},{47,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player1_left_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,55}</string>
                <key>spriteSourceSize</key>
                <string>{42,55}</string>
                <key>textureRect</key>
                <string>{{521,1},{42,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player1_left_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,55}</string>
                <key>spriteSourceSize</key>
                <string>{42,55}</string>
                <key>textureRect</key>
                <string>{{564,58},{42,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player1_left_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,57}</string>
                <key>spriteSourceSize</key>
                <string>{42,57}</string>
                <key>textureRect</key>
                <string>{{323,63},{42,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player1_left_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,56}</string>
                <key>spriteSourceSize</key>
                <string>{44,56}</string>
                <key>textureRect</key>
                <string>{{418,59},{44,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player1_left_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,55}</string>
                <key>spriteSourceSize</key>
                <string>{42,55}</string>
                <key>textureRect</key>
                <string>{{564,58},{42,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player1_left_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,55}</string>
                <key>spriteSourceSize</key>
                <string>{42,55}</string>
                <key>textureRect</key>
                <string>{{565,1},{42,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player1_respawn_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{1,1},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player1_respawn_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,56}</string>
                <key>spriteSourceSize</key>
                <string>{50,56}</string>
                <key>textureRect</key>
                <string>{{1,70},{50,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Player1_respawn_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,53}</string>
                <key>spriteSourceSize</key>
                <string>{52,53}</string>
                <key>textureRect</key>
                <string>{{653,1},{52,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player1_right_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,55}</string>
                <key>spriteSourceSize</key>
                <string>{42,55}</string>
                <key>textureRect</key>
                <string>{{608,58},{42,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player1_right_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,55}</string>
                <key>spriteSourceSize</key>
                <string>{42,55}</string>
                <key>textureRect</key>
                <string>{{609,1},{42,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player1_right_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,57}</string>
                <key>spriteSourceSize</key>
                <string>{42,57}</string>
                <key>textureRect</key>
                <string>{{324,1},{42,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player1_right_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,56}</string>
                <key>spriteSourceSize</key>
                <string>{44,56}</string>
                <key>textureRect</key>
                <string>{{464,59},{44,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player1_right_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,55}</string>
                <key>spriteSourceSize</key>
                <string>{42,55}</string>
                <key>textureRect</key>
                <string>{{609,1},{42,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player1_right_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,55}</string>
                <key>spriteSourceSize</key>
                <string>{42,55}</string>
                <key>textureRect</key>
                <string>{{652,58},{42,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player1_up_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,57}</string>
                <key>spriteSourceSize</key>
                <string>{49,57}</string>
                <key>textureRect</key>
                <string>{{59,70},{49,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Player1_up_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,55}</string>
                <key>spriteSourceSize</key>
                <string>{52,55}</string>
                <key>textureRect</key>
                <string>{{510,58},{52,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player1_up_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,57}</string>
                <key>spriteSourceSize</key>
                <string>{51,57}</string>
                <key>textureRect</key>
                <string>{{118,69},{51,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Player1_up_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,57}</string>
                <key>spriteSourceSize</key>
                <string>{47,57}</string>
                <key>textureRect</key>
                <string>{{226,63},{47,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player1_up_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,55}</string>
                <key>spriteSourceSize</key>
                <string>{52,55}</string>
                <key>textureRect</key>
                <string>{{510,58},{52,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Player1_up_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,56}</string>
                <key>spriteSourceSize</key>
                <string>{49,56}</string>
                <key>textureRect</key>
                <string>{{367,60},{49,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>animation.png</string>
            <key>size</key>
            <string>{737,121}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e22615ef759d0d4184b23f7b01f697ce:b47d620d126b0c14e9a223e79b854dd3:0a34c58c0aa3d5b8cfa3f16913e33dfe$</string>
            <key>textureFileName</key>
            <string>animation.png</string>
        </dict>
    </dict>
</plist>
