<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player1_down_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,73}</string>
                <key>spriteSourceSize</key>
                <string>{71,73}</string>
                <key>textureRect</key>
                <string>{{78,481},{71,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player1_down_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,75}</string>
                <key>spriteSourceSize</key>
                <string>{71,75}</string>
                <key>textureRect</key>
                <string>{{157,369},{71,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player1_down_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,77}</string>
                <key>spriteSourceSize</key>
                <string>{72,77}</string>
                <key>textureRect</key>
                <string>{{81,205},{72,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player1_down_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,73}</string>
                <key>spriteSourceSize</key>
                <string>{72,73}</string>
                <key>textureRect</key>
                <string>{{155,442},{72,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player1_down_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,77}</string>
                <key>spriteSourceSize</key>
                <string>{70,77}</string>
                <key>textureRect</key>
                <string>{{1,212},{70,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player1_down_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,76}</string>
                <key>spriteSourceSize</key>
                <string>{69,76}</string>
                <key>textureRect</key>
                <string>{{1,284},{69,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player1_left_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,76}</string>
                <key>spriteSourceSize</key>
                <string>{59,76}</string>
                <key>textureRect</key>
                <string>{{158,308},{59,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player1_left_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,76}</string>
                <key>spriteSourceSize</key>
                <string>{55,76}</string>
                <key>textureRect</key>
                <string>{{79,351},{55,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player1_left_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,77}</string>
                <key>spriteSourceSize</key>
                <string>{55,77}</string>
                <key>textureRect</key>
                <string>{{187,1},{55,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player1_left_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{186,80},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player1_left_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,75}</string>
                <key>spriteSourceSize</key>
                <string>{59,75}</string>
                <key>textureRect</key>
                <string>{{1,429},{59,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player1_left_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,74}</string>
                <key>spriteSourceSize</key>
                <string>{59,74}</string>
                <key>textureRect</key>
                <string>{{1,490},{59,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player1_right_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,101}</string>
                <key>spriteSourceSize</key>
                <string>{78,101}</string>
                <key>textureRect</key>
                <string>{{1,1},{78,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player1_right_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,79}</string>
                <key>spriteSourceSize</key>
                <string>{59,79}</string>
                <key>textureRect</key>
                <string>{{1,81},{59,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player1_right_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,78}</string>
                <key>spriteSourceSize</key>
                <string>{60,78}</string>
                <key>textureRect</key>
                <string>{{81,143},{60,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player1_right_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,101}</string>
                <key>spriteSourceSize</key>
                <string>{78,101}</string>
                <key>textureRect</key>
                <string>{{1,1},{78,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player1_right_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,81}</string>
                <key>spriteSourceSize</key>
                <string>{65,81}</string>
                <key>textureRect</key>
                <string>{{104,1},{65,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player1_right_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,76}</string>
                <key>spriteSourceSize</key>
                <string>{70,76}</string>
                <key>textureRect</key>
                <string>{{80,279},{70,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player1_up_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,77}</string>
                <key>spriteSourceSize</key>
                <string>{73,77}</string>
                <key>textureRect</key>
                <string>{{161,158},{73,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player1_up_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,75}</string>
                <key>spriteSourceSize</key>
                <string>{72,75}</string>
                <key>textureRect</key>
                <string>{{1,355},{72,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player1_up_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,78}</string>
                <key>spriteSourceSize</key>
                <string>{68,78}</string>
                <key>textureRect</key>
                <string>{{1,142},{68,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player1_up_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,75}</string>
                <key>spriteSourceSize</key>
                <string>{71,75}</string>
                <key>textureRect</key>
                <string>{{78,408},{71,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player1_up_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,80}</string>
                <key>spriteSourceSize</key>
                <string>{73,80}</string>
                <key>textureRect</key>
                <string>{{104,68},{73,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player1_up_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,76}</string>
                <key>spriteSourceSize</key>
                <string>{73,76}</string>
                <key>textureRect</key>
                <string>{{160,233},{73,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>animation.png</string>
            <key>size</key>
            <string>{244,553}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9cd14cd9567b99229770d84159d7276c:e51054e35aceaeb847a8d31fcca71e70:0a34c58c0aa3d5b8cfa3f16913e33dfe$</string>
            <key>textureFileName</key>
            <string>animation.png</string>
        </dict>
    </dict>
</plist>
