<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Player2Die_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,61}</string>
                <key>spriteSourceSize</key>
                <string>{44,61}</string>
                <key>textureRect</key>
                <string>{{1,69},{44,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player2Die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,71}</string>
                <key>spriteSourceSize</key>
                <string>{66,71}</string>
                <key>textureRect</key>
                <string>{{1,1},{66,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player2Die_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,37}</string>
                <key>spriteSourceSize</key>
                <string>{42,37}</string>
                <key>textureRect</key>
                <string>{{64,69},{42,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player2Die.png</string>
            <key>size</key>
            <string>{102,114}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75162cd4d1ef06727067d5c791e5052d:68ed9fee7c78a05471082cfbdcdada74:4ec8da04dff5fad3a5ddc75513429c1b$</string>
            <key>textureFileName</key>
            <string>player2Die.png</string>
        </dict>
    </dict>
</plist>
